.md-typeset div.arithmatex  {
  overflow: initial;
}


.md-typeset .admonition {
    font-size: 0.8rem;
}

.md-typeset details, .tabbed-set {
  font-size: 0.8rem;
}

.md-typeset code {
  font-size: 12pt;
}

.center, iframe, img {
  display: block;
  margin: 0 auto;
}

.enumerate-headings-plugin {
  filter: opacity(1);
  color: black;
}
